
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

body {
  background-color: #101721;
  font-family: 'Quicksand', sans-serif;
}

.container {
  /* position: relative; */
  padding: 0;
  height: 0;
  background-image: url('./assets/picture.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-bottom:100%;
}

img.sun {
  position: absolute;
  top: 200px;
  right: 28%;
  z-index: 0;
}

img.cloud-left {
  position: absolute;
  top: 0%;
  left: 5%;
  right: auto;
  z-index: 2;

  animation-duration: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: cloud-left;
  
}

img.cloud-middle {
  position: absolute;
  top: 1%;
  left: 36%;
  right: auto;
  z-index: 3;

  animation-duration: 12s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: cloud-middle;
}

img.cloud-right {
  position: absolute;
  top: 1%;
  left: 70%;
  right: auto;
  z-index: 3;

  animation-duration: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: cloud-right;
}

img.cloud-right-btm {
  position: absolute;
  top: 23%;
  left: 65%;
  right: auto;
  z-index: 3;

  animation-duration: 12s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: cloud-right-btm;
}

@keyframes cloud-left {
  from {left: 5%;}
  to {left: 7%;}
}

@keyframes cloud-right {
  from {left: 70%;}
  to {left: 66%;}
}

@keyframes cloud-right-btm {
  from {left: 65%;}
  to {left: 60%;}
}

@keyframes cloud-middle {
  from {left: 36%;}
  to {left: 40%;}
}

.trees-container {
  position:sticky;
}

.scroll-background {
  position: absolute;
  top: 90%;
  background-color: #101721;
  min-height: 650px;
  width: 100%;
}

img.trees-back {
  padding-top: 48%;
  z-index: 3;
}

img.trees {
  position: absolute;
  padding-top: 56%;
  z-index: 4;
}

/* Main Component */

h2 {
  background: -webkit-linear-gradient(#fecff4 70%, #8c1a5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  margin-bottom: .5rem;
  letter-spacing: 4px;
}

h4 {
  display: flex;
  justify-content: center;
  color: #b32a77ec;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 70%;
  box-shadow: #8c1a5b 0px 5px 5px -3px;
  
}

p {
  padding: .5rem 10%;
  color:#fecff4cd;
}



@media screen and (min-width: 1200px){
  h2 {font-size: 5rem; padding-top: 15rem;}
  img.cloud-right-btm {top: 270px}
  img.sun {top: 190px}
  p {font-size: 2rem;}
  h4 {font-size: 2rem;}
}
@media screen and (max-width: 1199px){
  h2 {font-size: 4rem; padding-top: 15rem;}
  img.cloud-right-btm {top: 190px}
  img.sun {top: 120px}
  p {font-size: 1.7rem;}
  h4 {font-size: 1.2rem;}
}
@media screen and (max-width: 899px){
  h2 {font-size: 3rem; padding-top: 13rem;}
  img.cloud-right-btm {top: 150px}
  img.sun {top: 90px}
  p {font-size: 1.4rem;}
  }
@media screen and (max-width: 700px){
  h2 {font-size: 2rem; padding-top: 8rem;}
  img.cloud-right-btm {top: 110px}
  img.sun {top: 70px}
  p {font-size: 1.2rem;}
  h4 {font-size: 1rem;}
}
@media screen and (max-width: 500px){
  h2 {font-size: 1.5rem; padding-top: 5rem;}
  img.cloud-right-btm {top: 90px}
  img.sun {top: 50px}
  p {font-size: .8rem;}
  h4 {font-size: .9rem;}
}
@media screen and (max-width: 400px){
  h2 {font-size: 1.2rem; padding-top: 4rem;}
  img.cloud-right-btm {top: 70px}
  img.sun {top: 35px}
  p {font-size: .7rem;}
  h4 {font-size: .8rem;}
}